<section class="index-page">
  <ul class="main-list">
    <li><a href="user/profile">Profile</a></li>
    <li><a href="user/profile/settings">Settings</a></li>
  </ul>
  <p>Please authorize before using this site</p>

  <a class="loginBtn loginBtn--google" href="/auth/google">
    Login with Google
  </a>
</section>