<section class="index-page">
  <a href="/">Home</a>
  <p class="success">
    You have been successfully logged in!
  </p>
  <img src= "{{photo}}" alt="profile-picture" class="avatar"/>
<h2>Hello {{name}} !</h2>
  <form action="/auth/logout" method="post"><button>Logout</button></form>
</section>